<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tabTitle %></title>
    <meta name="theme-color" content="#edabd7">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="simplecyber.org">
    <meta property="og:title" content="<%= tabTitle %>">
    <meta property="og:description" content="<%= desc %>">
    <meta name="description" content="<%= desc %>">
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="https://src.simplecyber.org/v1/base.css">
    <link rel="stylesheet" href="/static/main.css">
    <script defer src="https://src.simplecyber.org/lib/tabbable.min.js"></script>
    <script defer src="https://src.simplecyber.org/lib/focus-trap.min.js"></script>
    <script async defer src="https://src.simplecyber.org/lib/sortable.min.js"></script>
    <script async defer src="https://src.simplecyber.org/v1/base.js"></script>
    <script async defer src="/static/main.js"></script>
</head>
<body>
    <div id="backgroundCont">
        <div id="background"></div>
    </div>
    <div id="main">
        <div class="section">
            <div class="title">
                <div class="icon"><%= icon %></div>
                <h1><%= title %></h1>
            </div>